@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* ## Colors */
:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --SlightlyTransparentP: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentH: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: var(--VeryDarkBlue);
}

main {
    background-color: var(--DarkDesaturatedBlue);
    width: 325px;
    height: 780px;
    margin: 88px auto;
    border-radius: 9px;
    overflow: hidden;
}

.images {
    background-color: var(--SoftViolet);
    width: 100%;
    height: 240px;
}

.image-mobile {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.image-desktop {
    display: none;
}

section {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 287px;
    height: 96px;
    margin: 40px auto 0;
    font-family: 'Inter' sans-serif;
    font-size: 2em;
    line-height: 32px;
    text-align: center;
    color: var(--White);
}

h1>span {
    color: var(--SoftViolet);
}

p {
    width: 263px;
    height: 99px;
    margin: 14px auto 0;
    text-align: center;
    font-family: 'Inter' sans-serif;
    font-size: .940em;
    font-weight: 400;
    line-height: 25px;
    color: var(--SlightlyTransparentP);
}

.stats {
    width: 85px;
    height: 205px;
    margin: 45px auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stats-details {
    width: 100%;
    color: var(--White);
}

.stats-details:nth-child(1),
.stats-details:nth-child(2) {
    height: 80px;
}

.amount {
    font-family: 'Inter' sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--White);
}

.concept,
.last {
    text-transform: uppercase;
}

.concept {
    margin-top: 7px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--SlightlyTransparentH);
    font-size: .82em;
    font-weight: 400;
}


@media (min-width:1200px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        width: 1110px;
        height: 446px;
        margin: 177px auto;
    }

    .images {
        background-color: var(--SoftViolet);
        height: 100%;
    }
    
    .image-desktop {
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        opacity: 0.8;
    }
    .image-mobile {
        display: none;
    }
    
    section{
        width: 100%;
        height: 100%;
        padding: 60px;
    }
    
    h1{
        margin: 0;
        margin-left: 12px;
        width: 390px;
        height: auto;
        text-align: left;
        font-size: 2.25em;
    }
    p{
        margin: 30px auto 0;
        margin-left: 12px;
        width: 350px;
        height: auto;
        text-align: left;
    }
    .stats{
        width: 350px;
        margin: 60px 0;
        margin-left: 12px;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

}