@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* ## Colors */
:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --Layer: rgba(110, 30, 160, 0.4);
    --White: hsl(0, 0%, 100%);
    --SlightlyTransparentP: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentH: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 375;
    max-height: 956;
    font-family: 'Lexend Deca', sans-serif;
    font-size: .94em;
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: var(--DarkDesaturatedBlue);
    height: 782px;
    width: 328px;
    margin: 88px auto;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 240px;
    background-image: url(/images/image-header-mobile.jpg);
    background-size: cover;
    position: relative;
}

.image::after {
    content: "";
    background: var(--Layer);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

section.section2 {
    display: flex;
    flex-direction: column;
}

.content {
    text-align: center;
    padding: 40px 23px;
}

h1 {
    height: auto;
    color: var(--White);
    font-size: 1.8em;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

span {
    color: var(--SoftViolet);
}

p {
    color: var(--SlightlyTransparentP);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 25px;
    height: auto;
    margin-bottom: 45px;
}

.br-desktop {
    display: none;
}

.stats {
    color: var(--White);
    line-height: 25px;
}

.stats-details {
    height: 43px;
    margin-bottom: 35px;
}

.amount {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--White);
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
}

.concept {
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 30px;
    color: var(--SlightlyTransparentP);
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
}

.last {
    text-transform: uppercase;
}

/* Footer */
.attribution {
    position: absolute;
    bottom: -100px;
    left: 50%;
    font-size: 13px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--White);
}

.attribution a {
    color: var(--SoftViolet);
}



@media screen and (min-width:1200px) {
    body {
        max-width: 1440px;
        max-height: 800px;
    }

    main {
        width: 1110px;
        height: 446px;
        margin: 177px auto;
    }

    .image {
        width: 540px;
        height: 448px;
        background-image: url(/images/image-header-desktop.jpg);
        background-size: cover;
    }

    section.section2 {
        flex-direction: row-reverse;
    }

    .content {
        width: 570px;
        padding: 75px 72px;
        margin-right: 10px;
        text-align: left;
    }

    h1 {
        font-size: 2.25em;
        height: 80px;
        margin: 0;
        margin-bottom: 40px;
    }

    .br-mobile {
        display: none;
    }

    .br-desktop {
        display: block;
    }

    p {
        margin: 0;
        height: 65px;
        text-align: left;
    }

    .stats {
        width: 348px;
        margin: 70px auto 80px;
        display: flex;
        float: left;
        justify-content: space-between;
    }
    .stats-details{
        margin: 0;
    }
}